@use '../../settings/typography' as *;
@use '../../settings/fonts' as *;
@use '../../settings/colors' as *;
@use '../../mixins/size' as *;
@use '../../mixins/sizing' as *;

.u-content blockquote,
.u-blockquote {
	position: relative;

	@include sizing('padding-left', size(4));

	footer {
		@extend %type-small;
		@extend %f-body-bold;
		@include sizing('padding-top', size(.8));
	}

	> *:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;

		@include sizing('width', size(1));

		.u-dark & {
			background-color: $dark;
		}

		.u-light & {
			background-color: $light;
		}

		.u-color-1 & {
			background-color: $color-1;
		}

		.u-color-2 & {
			background-color: $color-2;
		}

		.u-color-3 & {
			background-color: $color-3;
		}

		.u-color-4 & {
			background-color: $color-4;
		}
	}
}
