@use '../../settings/colors' as *;
@use '../../mixins/size' as *;
@use '../../mixins/sizing' as *;

.u-content hr,
.u-hr {
	width: 100%;

	@include sizing('height', size(.5));

	.u-dark & {
		background-color: $dark;
	}

	.u-light & {
		background-color: $light;
	}

	.u-color-1 & {
		background-color: $color-1;
	}

	.u-color-2 & {
		background-color: $color-2;
	}

	.u-color-3 & {
		background-color: $color-3;
	}

	.u-color-4 & {
		background-color: $color-4;
	}
}
