html {
	min-height: vars(vh, fullscreen);
	visibility: visible;
	overflow-x: hidden;
	overflow-y: scroll;
	line-height: 1.5;
	text-rendering: optimizespeed;

	@extend %f-body;
	@extend %f-body-regular;
	@include font-smoothing;

	&.no-scroll {
		position: relative;
		overflow: hidden;

		body {
			overflow: hidden;
		}
	}
}

body {
	@include sizing('padding-top', size(30));
}
