@media print and (color) {
	* {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}
}

@media print {
	* {
		color: #000;
		box-shadow: none;
		text-shadow: none;
		filter: none;
	}

	@page {
		margin: 2cm;
	}

	object,
	iframe {
		display: none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-after: avoid;
	}

	form,
	p,
	ol,
	ul,
	img,
	table {
		break-inside: avoid;
	}

	article {
		page-break-before: always;
	}

	a {
		font-weight: 700;
		text-decoration: none;

		&::after {
			content: '(' attr(href) ')';
			font-size: .5em;
		}

		&[href^=\#]::after {
			content: '';
		}
	}
}
