@use './settings/variables' as *;
@use './settings/colors' as *;
@use './mixins/size' as *;

html,
body {
	margin: 0;
	padding: 0;
}

body {
	padding: size(4);
}

h1 {
    font-size: vars(type, xxxxxlrg);
}

h2 {
	font-size: vars(type, xxxxlrg);
}

h3 {
	font-size: vars(type, xxxlrg);
}

h4 {
	font-size: vars(type, xxlrg);
}

h5 {
	font-size: vars(type, xlrg);
}

h6 {
    font-size: vars(type, lrg);
}

li,
p {
	font-size: vars(type, med);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: size(4) 0;
	padding: 0;
}

.u-btn {
	font-size: vars(type, med);

	display: inline-block;
	margin-top: size(2);
	padding: size(2) size(8);
	background-color: $light;
	border-width: size(.5);
	border-style: solid;
	border-color: $dark;
	color: $dark;
	text-decoration: none;
}

iframe {
	width: 100%;
}

.login {
	display: flex;
    flex-direction: column;
	position: relative;
	align-items: center;
    background-color: $dark;

    #login {
        position: relative;
        z-index: 99;
        padding: 0;

        #nav {
            width: 100%;
            text-align: center;
            padding: size(4) 0 0 0;
            margin: 0;

            a {
                color: $light;
            }
        }

        #loginform {
            margin: 0;
            padding: 0;
            background-color: transparent;
            border-width: 0;
            box-shadow: none;

            label {
                padding: 0;
                margin: 0 0 size(4);
                color: $light;
            }

            input {
                background-color: $dark;
                color: $light;
                border-radius: 0;
                border-width: size(0.25);
                border-style: solid;
                border-color: $light;

                &[type=text],
                &[type=password] {
                    padding: size(4) size(8);
                    font-size: size(4);
                }
            }

            .wp-hide-pw {
                top: 50%;
                transform: translateY(-71%);
                margin: 0;
                padding: 0;
                color: $light;
            }

            .forgetmenot {
                height: size(6.75);
                padding-top: size(1.25);
            }
        }

        h1,
        .privacy-policy-page-link,
        #backtoblog {
            display: none;
        }
    }
}

