@use './settings' as *;

html,
body {
	margin: 0;
	padding: 0;
}

body {
	padding: size(4);
}

h1 {
    font-size: font-size(xxxxxlrg);
}

h2 {
	font-size: font-size(xxxxlrg);
}

h3 {
	font-size: font-size(xxxlrg);
}

h4 {
	font-size: font-size(xxlrg);
}

h5 {
	font-size: font-size(xlrg);
}

h6 {
    font-size: font-size(lrg);
}

li,
p {
	font-size: font-size(med);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: size(4) 0;
	padding: 0;
}

.u-btn {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: $light;
	border-style: solid;
	border-color: $dark;
	border-radius: 0;
	color: $dark;
	text-decoration: none;
	appearance: none;
    padding: size(2.4) size(8);

	@extend %f-btn;

	&.is-light {
		background-color: $light;
		border-color: $dark;
		color: $dark;
	}

	&.is-dark {
		background-color: $dark;
		border-color: $light;
		color: $light;
	}
}

iframe {
	width: 100%;
}

.login {
	display: flex;
    flex-direction: column;
	position: relative;
	align-items: center;
    background-color: $dark;

    #login {
        position: relative;
        z-index: 99;
        padding: 0;

        #nav {
            width: 100%;
            text-align: center;
            padding: size(4) 0 0 0;
            margin: 0;

            a {
                color: $light;
            }
        }

        #loginform {
            margin: 0;
            padding: 0;
            background-color: transparent;
            border-width: 0;
            box-shadow: none;

            label {
                padding: 0;
                margin: 0 0 size(4);
                color: $light;
            }

            input {
                background-color: $dark;
                color: $light;
                border-radius: 0;
                border-width: size(0.25);
                border-style: solid;
                border-color: $light;

                &[type=text],
                &[type=password] {
                    padding: size(4) size(8);
                    font-size: size(4);
                }
            }

            .wp-hide-pw {
                top: 50%;
                transform: translateY(-71%);
                margin: 0;
                padding: 0;
                color: $light;
            }

            .forgetmenot {
                height: size(6.75);
                padding-top: size(1.25);
            }
        }

        h1,
        .privacy-policy-page-link,
        #backtoblog {
            display: none;
        }
    }
}

