@use '../settings' as *;

%form-reset {
	display: block;
	width: 100%;
	border-style: solid;
	border-color: transparent;
	appearance: none;

	@extend %f-paragraph;
	@include sizing('border-width', size(.5));
	@include sizing('padding', size(2));

	&::placeholder {
		opacity: .8;

		@include transition('color');
	}

	&[disabled] {
		opacity: .4;

		@include disable(disable);
	}

	&.is-hidden {
		display: none;
	}

	@include mq-hover {
		@include transition('color, background-color, border-color');
	}
}
