@use '../settings/fonts' as *;
@use '../mixins/sizing' as *;
@use '../settings/variables' as *;

%type-h1 {
	line-height: 1.2;

	@include sizing('font-size', vars(type, xxxxxlrg));
	@extend %f-heading;
}

%type-h2 {
	line-height: 1.2;

	@include sizing('font-size', vars(type, xxxxlrg));
	@extend %f-heading;
}

%type-h3 {
	line-height: 1.2;

	@include sizing('font-size', vars(type, xxxlrg));
	@extend %f-heading;
}

%type-h4 {
	line-height: 1.2;

	@include sizing('font-size', vars(type, xxlrg));
	@extend %f-heading;
}

%type-h5 {
	line-height: 1.3;

	@include sizing('font-size', vars(type, xlrg));
	@extend %f-heading;
}

%type-h6 {
	line-height: 1.3;

	@include sizing('font-size', vars(type, lrg));
	@extend %f-heading;
}

%type-small {
	@include sizing('font-size', vars(type, sml));
}

%type-paragraph {
	@include sizing('font-size', vars(type, med));
}

%type-btn {
	@include sizing('font-size', vars(type, sml));
	@extend %f-heading;
}

%type-label {
	@include sizing('font-size', vars(type, med));
}

%type-icon-sml {
	@include sizing('font-size', vars(type, sml));
}

%type-icon-med {
	@include sizing('font-size', vars(type, med));
}

%type-icon-lrg {
	@include sizing('font-size', vars(type, lrg));
}

%type-icon-xlrg {
	@include sizing('font-size', vars(type, xlrg));
}

%type-icon-xxlrg {
	@include sizing('font-size', vars(type, xxlrg));
}

%type-icon-xxxlrg {
	@include sizing('font-size', vars(type, xxxlrg));
}
