.l-action {
	@include sizing('padding-top', size(2));
	@include sizing('gap', size(.8));

	@include mq(vars(breakpoint, sml)) {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	&.is-align-right {
		@include mq(vars(breakpoint, sml)) {
			justify-content: flex-end;
		}
	}

	&.is-align-center {
		@include mq(vars(breakpoint, sml)) {
			justify-content: center;
		}
	}

	.u-btn {
		@include sizing('margin-top', size(2));

		@include mq(vars(breakpoint, sml), max-width) {
			display: block;
			width: 100%;
		}
	}
}
