@use '../settings/variables' as *;
@use '../mixins/media-query' as *;
@use '../mixins/column-width' as *;
@use '../mixins/size' as *;
@use '../mixins/sizing' as *;

.l-row {
	$this: &;

	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-right: auto;
	margin-left: auto;

	@include sizing('max-width', vars(layout, max-width));

	&.is-fullwidth {
		max-width: 100%;
	}

	&__col {
		width: 100%;

		@include sizing('padding-right', size(4));
		@include sizing('padding-left', size(4));

		&.is-relative {
			position: relative;
		}

		&.no-overflow {
			overflow: hidden;
		}

		&.is-centered {
			margin-right: auto;
			margin-left: auto;
		}

		&.is-half {
			width: column-width(3, 1.5);
		}

		&.is-1-third {
			width: column-width(3, 1);
		}

		&.is-2-third {
			width: column-width(3, 2);
		}

		&.is-1-forth {
			width: column-width(4, 1);
		}

		&.is-3-forth {
			width: column-width(4, 3);
		}

		&.no-gutter {
			padding-right: 0;
			padding-left: 0;
		}

		@for $i from 1 through 5 {
			$breakpoint: vars(breakpoint, xxlrg);
			$selector: 'xxlrg';

			@if $i == 1 {
				$breakpoint: vars(breakpoint, sml);
				$selector: 'sml';
			} @else if $i == 2 {
				$breakpoint: vars(breakpoint, med);
				$selector: 'med';
			} @else if $i == 3 {
				$breakpoint: vars(breakpoint, lrg);
				$selector: 'lrg';
			} @else if $i == 4 {
				$breakpoint: vars(breakpoint, xlrg);
				$selector: 'xlrg';
			}

			@include mq($breakpoint) {
				&.is-#{$selector}-half {
					width: column-width(3, 1.5);
				}

				&.is-#{$selector}-1-third {
					width: column-width(3, 1);
				}

				&.is-#{$selector}-2-third {
					width: column-width(3, 2);
				}

				&.is-#{$selector}-1-forth {
					width: column-width(4, 1);
				}

				&.is-#{$selector}-3-forth {
					width: column-width(4, 3);
				}
			}
		}
	}

	#{$this} {
		width: auto;
		max-width: none;

		@include sizing('margin-right', -#{size(4)});
		@include sizing('margin-left', -#{size(4)});
	}
}
