@use '../settings' as *;

.u-content a:not(.u-btn),
.u-link {
	@include color-scheme(
		(
			--a-color: $dark,
			--a-after-bg: $dark,
			--a-active: $light
		),
		(
			--a-color: $light,
			--a-after-bg: $light,
			--a-active: $dark
		)
	);

	display: inline-flex;
	position: relative;
	color: var(--a-color);
	text-decoration-skip-ink: auto;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: z-index(hidden);
		opacity: 0;
		background-color: var(--a-after-bg);

		@include sizing('left', size(-1));
		@include sizing('right', size(-1));
		@include transition('all');
		@include hardware(true);
	}

	&:focus {
		color: var(--a-active);

		&::after {
			opacity: 1;
		}
	}

	@include mq-hover {
		@include transition;

		&:hover {
			color: var(--a-active);

			&::after {
				opacity: 1;
			}
		}
	}
}
