@use '../settings' as *;

.u-content a:not(.u-btn),
.u-link {
	display: inline-flex;
	position: relative;
	color: $dark;
	text-decoration-skip-ink: auto;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: z-index(hidden);
		opacity: 0;
		background-color: $dark;

		@include sizing('left', size(-1));
		@include sizing('right', size(-1));
		@include transition('all');
		@include hardware(true);
	}

	&:focus {
		color: $light;

		&::after {
			opacity: 1;
		}
	}

	@include mq-hover {
		@include transition;

		&:hover {
			color: $light;

			&::after {
				opacity: 1;
			}
		}
	}
}
