@use '../settings' as *;

.u-bg-light {
	@include color-scheme(
		(
			--bg: $dark
		),
		(
			--bg: $light
		)
	);

	background-color: var(--bg);
}

.u-bg-dark {
	@include color-scheme(
		(
			--bg: $light
		),
		(
			--bg: $dark
		)
	);

	background-color: var(--bg);
}
