@use '../settings' as *;

.u-form input[type=submit],
.u-form input[type=reset],
.u-btn {
	@include color-scheme(
		(
			--btn-bg: $light,
			--btn-color: $dark,
			--btn-border: $dark,
			--btn-bg-hover: color($light, $dark, 20%)
		),
		(
			--btn-bg: $dark,
			--btn-color: $light,
			--btn-border: $light,
			--btn-bg-hover: color($dark, $light, 30%)
		)
	);

	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: var(--btn-bg);
	border-style: solid;
	border-color: var(--btn-border);
	border-radius: 0;
	color: var(--btn-color);
	text-decoration: none;
	appearance: none;

	@include sizing('border-width', size(.25));
	@include sizing('padding', [size(3), size(6)]);
	@include user-select(disable);
	@extend %f-btn;
	@extend %f-uppercase;

	&.is-block {
		display: block;
	}

	&:focus {
		background-color: var(--btn-bg-hover);
	}

	@include mq-hover {
		@include transition('background-color, border-color');

		&:hover {
			background-color: var(--btn-bg-hover);
		}
	}

	&[disabled] {
		opacity: .4;

		@include disable(disable);
	}

	&.is-light {
		--btn-bg: $light;
		--btn-color: $dark;
		--btn-border: $dark;
		--btn-bg-hover: color($light, $dark, 20%);
	}

	&.is-dark {
		--btn-bg: $dark;
		--btn-color: $light;
		--btn-border: $light;
		--btn-bg-hover: color($dark, $light, 30%);
	}
}
