@import 'elem/blockquote';
@import 'elem/em';
@import 'elem/h1';
@import 'elem/h2';
@import 'elem/h3';
@import 'elem/h4';
@import 'elem/h5';
@import 'elem/h6';
@import 'elem/hr';
@import 'elem/link';
@import 'elem/ol';
@import 'elem/p';
@import 'elem/pre';
@import 'elem/small';
@import 'elem/strong';
@import 'elem/sub';
@import 'elem/sup';
@import 'elem/table';
@import 'elem/ul';

.u-content {
	&.text-align-left {
		text-align: left;
	}

	&.text-align-right {
		text-align: right;
	}

	&.text-align-center {
		text-align: center;
	}

	.u-table,
	.u-figure,
	.u-media,
	pre,
	hr,
	img,
	blockquote {
		@include sizing('margin-top', size(4));
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include sizing('padding-top', size(4));
	}

	ul,
	ol {
		@include sizing('padding-top', size(2));

		li {
			@include sizing('padding-top', size(2));
		}
	}

	> *:first-child {
		margin-top: 0;
		padding-top: 0;
	}
}
