@use '../settings' as *;

.u-content {
	.u-table,
	.u-figure,
	.u-media,
	pre,
	hr,
	img,
	blockquote {
		@include sizing('margin-top', size(4));
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include sizing('padding-top', size(4));

		&:not(p, h6) {
			@include sizing('margin-bottom', size(4));
		}

		&:has(.u-btn) {
			@include sizing('padding-top', size(8));
		}
	}

	ul,
	ol {
		@include sizing('padding-top', size(2));

		li {
			@include sizing('padding-top', size(2));
		}
	}

	> *:first-child {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
	}
}
