@use '../settings' as *;

.u-form {
	$form: &;

	@include color-scheme(
		(
			--form-color: $dark,
			--form-placeholder: color($light, $dark, 20%),
			--form-border: color($light, $dark, 20%),
			--form-border-active: color($dark, $light, 20%),
			--form-error: color($red, $dark, 20%)
		),
		(
			--form-color: $light,
			--form-placeholder: color($light, $dark, 20%),
			--form-border: color($dark, $light, 20%),
			--form-border-active: color($light, $dark, 20%),
			--form-error: color($red, $light, 50%)
		)
	);

	position: relative;

	> *:first-child {
		margin-top: 0;
	}

	label {
		display: block;
		position: relative;

		@include sizing('margin-top', size(4));
		@extend %f-label;
	}

	textarea,
	input:not([type=submit], [type=reset], [type=radio], [type=checkbox]) {
		display: block;
		width: 100%;
		border-style: solid;
		border-color: var(--form-border);
		color: var(--form-color);
		appearance: none;

		@extend %f-paragraph;
		@include sizing('border-width', size(.5));
		@include sizing('padding', size(4));
		@include sizing('margin-top', size(3));

		&::placeholder {
			opacity: .8;
			color: var(--form-placeholder);

			@include transition('color');
		}

		&[disabled] {
			opacity: .4;

			@include disable(disable);
		}

		&.is-hidden {
			display: none;
		}

		&.wpcf7-not-valid,
		&.has-error {
			border-color: var(--form-error);
		}

		&:focus {
			border-color: var(--form-border-active);
		}

		@include mq-hover {
			@include transition('color, background-color, border-color');

			&:hover {
				border-color: var(--form-border-active);
			}
		}
	}

	textarea {
		overflow: auto;
		resize: vertical;

		@include sizing('min-height', size(100));
	}

	input[type=submit],
	input[type=reset],
	.u-btn {
		@include sizing('margin-top', size(8));
	}

	.wpcf7 {
		@include sizing('margin-top', size(-4));

		.wpcf7-acceptance {
			display: block;
			width: 100%;
			text-align: right;
		}

		.wpcf7-response-output {
			display: none;
		}

		.wpcf7-not-valid-tip {
			position: absolute;
			top: 100%;
			right: 0;
			color: var(--form-error);

			@extend %f-small;
			@include sizing('padding', [size(2), size(0), size(0)]);
		}

		.wpcf7-spinner {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: 0;
			transform: translate(-50%, -50%);
		}
	}
}
