@use '../settings' as *;
@use '../form' as *;

.u-form {
	$form: &;

	> *:first-child {
		margin-top: 0;
	}

	.wpcf7 {
		@include sizing('margin-top', size(-4));

		.wpcf7-acceptance {
			display: block;
			width: 100%;
			text-align: right;
		}

		.wpcf7-response-output {
			margin: 0;
			border-width: 0;
			text-align: center;

			@extend %f-small;
			@include sizing('padding', [size(4), size(0), size(0)]);
		}
	}

	&__field {
		@include sizing('margin-top', size(4));

		input {
			@include sizing('margin-top', size(2));
		}

		&:first-of-type {
			margin-top: 0;

			input {
				margin-top: 0;
			}
		}
	}

	.wpcf7-not-valid-tip,
	&__validation {
		display: block;

		@extend %f-small;
		@include sizing('padding', [size(2), size(0), size(0)]);
	}

	&__options {
		@include sizing('margin-top', size(4));

		label {
			position: relative;

			@include sizing('padding-right', size(6));
		}

		input {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%) scale(1.1);

			@include mq-hover {
				@include transition('all');
			}

			&:focus {
				transform: translateY(-50%) scale(1.3);
			}
		}
	}
}
