@use '../settings/colors' as *;

[class*=u-gradient-] {
	img {
		filter: grayscale(1);
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		opacity: .4;
	}
}

.u-gradient-light::before {
	background-color: $light;
}

.u-gradient-dark::before {
	background-color: $dark;
}

.u-gradient-color-1::before {
	background-color: $color-1;
}

.u-gradient-color-2::before {
	background-color: $color-2;
}

.u-gradient-color-3::before {
	background-color: $color-3;
}

.u-gradient-color-4::before {
	background-color: $color-4;
}
