@use '../settings/variables' as *;

.u-load-hide {
	opacity: 0;
}

.u-load-fade-in {
	animation-name: kf-fade-in;
	animation-duration: vars(transition-duration, med);
	animation-timing-function: vars(transition-timing, med);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
