.u-vh-fullscreen {
	@include mq($vw-min, max-width) {
		min-height: calc(vars(vh, fullscreen) - (size(30) / $vw-context * $vw-adjustment-min));
	}

	@include mq($vw-min) {
		min-height: calc(vars(vh, fullscreen) - (size(30) / $vw-context * $vw-adjustment-max));
	}
}

.u-vh-half {
	min-height: vars(vh, half);
}

.u-vh-1-third {
	min-height: vars(vh, one-third);
}

.u-vh-2-third {
	min-height: vars(vh, two-third);
}
