$min: vars(breakpoint, med);
$max: vars(breakpoint, xxlrg);
$vw-context: calc(strip-unit($max) * .01 * 1px);

.u-vh-fullscreen {
	@include mq($min, max-width) {
		min-height: calc(vars(vh, fullscreen) - calc(size(30) / $vw-context * 3vw));
	}

	@include mq($min) {
		min-height: calc(vars(vh, fullscreen) - calc(size(30) / $vw-context * 1vw));
	}
}

.u-vh-half {
	min-height: vars(vh, half);
}

.u-vh-1-third {
	min-height: vars(vh, one-third);
}

.u-vh-2-third {
	min-height: vars(vh, two-third);
}
